.top-caption {
  display: flex;
  flex-direction: row;
  h1 {
    padding: 0.5rem;
  }
  img {
    height: 6rem;
    width: 6.7rem;
    margin: 4.2rem 1.5rem 0 2.5rem;
    border: 3px solid goldenrod;
  }
}
