.top-caption {
  display: flex;
  flex-direction: row;
  h1 {
    padding: 0.5rem;
  }
  img {
    height: 6rem;
    width: 6.7rem;
    margin: 4.2rem 1.5rem 0 2.5rem;
    border: 3px solid goldenrod;
  }
}

.pass-text {
  margin-left: 0.8rem;
}

.email-text {
  margin-left: 0.8rem;
}

@media screen and (min-width: 451px) {
  .top-caption img {
    margin: 2rem 1.5rem 0 2.5rem;
  }
}

@media screen and (min-width: 650px) {
  .top-caption img {
    margin: 0 1.5rem 0 35rem;
  }
}
