@import url('https://fonts.googleapis.com/css?family=Bangers|Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

$font-stack: 'Do Hyeon', sans-serif;
$primary-color: navy;
$secondary-color: lightblue;
$tertiary-color: goldenrod;
$text-white: #f5fffa;

body {
  background-color: $secondary-color;
}

main {
  font-family: $font-stack;
  color: $primary-color;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.student-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 3rem;
  width: 21rem;
  height: 14rem;
  margin: 1rem 1rem 1rem 0;
  border: 5px solid black;
  border-radius: 20px;
  color: $primary-color;
  box-shadow: 5px 7px #888888;
  background-image: radial-gradient(#d2b48c, #f4a460, #954535);
}

.student-container button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  height: 3rem;
  width: 3rem;
}

.student-container li {
  font-size: 1.5rem;
}

.desk-image {
  height: 6rem;
  width: 6rem;
  border: 3px solid #343434;
  margin-bottom: 0.5rem;
}

.font-change {
  font-family: $font-stack;
  color: navy;
}

.check-button {
  background-color: #3cb371;
  padding: 0.5rem;
  margin: 0.5rem;
}

.x-button {
  background-color: #ff6961;
}
// TODO:
// mess with button hovers and button animations
// .x-button:focus {
//   outline: 0;
// }

.absent-button {
  background-color: #343434;
  color: $text-white;
}

.teacher-info {
  background-color: #343434;
  border: 3px solid $tertiary-color;
  font-family: 'Permanent Marker', cursive;
  color: $text-white;
  box-shadow: 5px 7px #888888;
  margin: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

.black-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 1.3rem;
    padding: 0.8rem;
  }
  .teacher-image {
    height: 6rem;
    width: 6rem;
    border: 3px solid goldenrod;
  }
}
