@import url('https://fonts.googleapis.com/css?family=Bangers|Do+Hyeon&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

header {
  background-color: navy;
}

.logo-pic {
  height: 2.5rem;
  width: 2.5rem;
  border: 0.2rem solid goldenrod;
}

.logo-pic:hover {
  border: 0.2rem solid whitesmoke;
}

.nav-links {
  font-family: 'Bangers', sans-serif;
  font-size: 1.5rem;
}

.title-font {
  color: goldenrod;
  font-family: 'Bangers', sans-serif;
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
